<!DOCTYPE html>
<html>
  <%include ../header.ejs%>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href='/'>首页</a>
    <%include ../footer.ejs%>
  </body>
</html>